body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1c1e21;
  background-color: #f0f2f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media only screen and (max-width: 1150px) {
  .leftHomeContainer {
    display: none;
  }
  .searchbar {
    display: none;
  }
  #navbarProfileLink {
    display: none;
  }
}

@media only screen and (max-width: 950px) {
  .rightHomeContainer {
    display: none;
  }
  .centerHomeContainer {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 775px) {
  #navbarCenterContainer {
    display: none;
  }
  #feeling {
    display: none;
  }
}

.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  height: 56px;
  padding-left: 16px;
  padding-right: 16px;
}

.searchbar {
  position: relative;
}

.searchSvg {
  position: absolute;
  top: 12px;
  left: 12px;
}

.searchInput {
  width: 240px;
  height: 40px;
  padding-left: 36px;
  padding-top: 7px;
  padding-right: 16px;
  padding-bottom: 9px;
  border: none;
  border-radius: 25px;
  background-color: rgb(237, 240, 245);
}

.navbarCenterContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 80%;
  gap: 12px;
}

.navbarCenterIcons {
  height: 100%;
  max-width: 120px;
  width: calc(70px + 3vmax);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbarCenterIcons:hover {
  background-color: rgba(228, 228, 228, 0.671);
}

.navbarRightContainer {
  height: 60%;
  width: 30%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
}

.navbarLeftContainer {
  width: 30%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
}

.navbarProfileLink {
  color: #1c1e21;
  text-decoration: none;
  display: flex;
  gap: 5px;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border-radius: 50px;
}

.navbarProfileLink:hover {
  background-color: rgba(228, 228, 228, 0.671);
}

.navbarRightLinks {
  background-color: rgb(231, 231, 231);
  padding: 10px;
  border-radius: 50%;
}

.navbarRightLinks:hover {
  background-color: rgb(219, 219, 219);
}

.ProfileImage {
  width: 30px;
  padding-left: 5px;
  padding-bottom: 7px;
  padding-right: 8px;
}

.homeMainContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.leftHomeContainer {
  width: 300px;
}

.leftHomeList {
  padding-left: 16px;
}

.leftHomeListItem {
  width: 100%;
  height: 52px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}

.leftHomeListItem:hover {
  background-color: rgba(228, 228, 228, 0.671);
}

.leftHomeImage {
  width: 36px;
  padding-left: 5px;
  padding-bottom: 7px;
  padding-right: 8px;
}

.leftHomeText {
  width: 100%;
  color: #1c1e21;
}

.centerHomeContainer {
  display: flex;
  width: 90%;
  max-width: 680px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 20px;
  padding: 32px;
}

.newPostContainer {
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding-bottom: 10px;
  width: 100%;
}

.newPostMainContainer {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 16px;
  padding-bottom: 0px;
}

.mainNewPostButton {
  width: 100%;
  padding: 12px;
  width: 580px;
  background-color: rgba(228, 228, 228, 0.671);
  border-radius: 20px;
  cursor: pointer;
}

.mainNewPostButton:hover {
  background-color: #e7e7e7;
}

.postOptionsButtons {
  display: flex;
  padding-top: 8px;
  margin-top: 12px;
  border-top: 1px solid rgb(228, 230, 235);
}

.postOptionsText {
  padding-left: 10px;
}

.postOptionButton {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding: 8px;
  cursor: pointer;
  border-radius: 8px;
}

.postOptionButton:hover {
  background-color: rgba(240, 238, 238, 0.795);
}

.postContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.posterName {
  width: calc(100% - 32px);
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid rgb(228, 230, 235);
}

.postText {
  width: calc(100% - 32px);
  padding-bottom: 16px;
}

.likeInfoContainer {
  width: calc(100% - 32px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-bottom: 5px;
  border-bottom: 1px solid rgb(228, 230, 235);
}

.likeTotalContainer {
  display: flex;
}

.likeTotal {
  padding-left: 5px;
}

.interactionsContainer {
  width: calc(100% - 32px);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
  padding-top: 0;
  text-align: center;
}

.interactionButton {
  border-radius: 8px;
  width: 195px;
  padding: 10px;
  cursor: pointer;
}

.interactionButton:hover {
  background-color: rgba(229, 226, 226, 0.692);
}

.rightHomeContainer {
  width: 300px;
  padding-top: 16px;
}

.sponsoredContainer {
  padding: 16px;
  padding-left: 0;
  border-bottom: 1px solid rgb(228, 230, 235);
  font-weight: 600;
}

.contactsContainer {
  margin-right: 25px;
  padding-top: 16px;
  border-bottom: 1px solid rgb(228, 230, 235);
}

.contactsHeader {
  font-weight: 600;
}

.contactsList {
  padding-left: 0;
}

.contactRight {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 8px;
  cursor: pointer;
}

.contactRight:hover {
  background-color: rgba(229, 226, 226, 0.692);
}

.contactName {
  width: 100%;
}

.groupConvosHeader {
  padding: 16px;
  padding-left: 0;
  font-weight: 600;
}

.newGroupText {
  cursor: pointer;
}
