body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1c1e21;
  background-color: #f0f2f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: white;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  height: 56px;
  padding-left: 16px;
  padding-right: 16px;
}

.searchbar {
  position: relative;
}

.searchSvg {
  position: absolute;
  top: 12px;
  left: 12px;
}

.searchInput {
  width: 240px;
  height: 40px;
  padding-left: 36px;
  padding-top: 7px;
  padding-right: 16px;
  padding-bottom: 9px;
  border: none;
  border-radius: 25px;
  background-color: rgb(240, 242, 245);
}

.navbarCenterContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  height: 80%;
}

.navbarCenterIcons {
  height: 100%;
  width: 100px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbarCenterIcons:hover {
  background-color: rgba(228, 228, 228, 0.671);
}

.navbarRightContainer {
  height: 60%;
  width: 30%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
}

.navbarLeftContainer {
  width: 30%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
}

.navbarProfileLink {
  color: #1c1e21;
  text-decoration: none;
  display: flex;
  gap: 5px;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border-radius: 50px;
}

.navbarProfileLink:hover {
  background-color: rgba(228, 228, 228, 0.671);
}

.navbarRightLinks {
  background-color: rgb(231, 231, 231);
  padding: 10px;
  border-radius: 50%;
}

.navbarRightLinks:hover {
  background-color: rgb(219, 219, 219);
}
